@model EntityLayer.Concrete.Blog


@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}

<h1><i>Blog Güncelleme Paneli</i></h1>

@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{


    @Html.Label("Blog ID")
    @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control" })
    <br />


    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })*@


    <br />

    @Html.Label("Blog Görseli")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.BlogImage, "", new { @class = "text-danger" })*@



    <br />

    @Html.Label("Blog Küçük Görseli")
    @Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control" })

    <br />

    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })


    @*@Html.Label("Kategori")
        <br />
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv)*@

    <br />

    <br />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x => x.BlogContent, 15, 3, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-danger" })*@

    <br />
    <br />

    <button class="btn btn-success" id="btn1">Güncelle</button>

    <script>
        $('#btn1').click(function () {

            swal("Blog'unuz Sisteme Yüklenmiştir. İyi Okumalar !");
        });

    </script>



}